.rmc-picker,
.rmc-multi-picker {
  height: 238px;
  /*34*7*/
}
.rmc-multi-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rmc-picker-item {
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9b9b9b;
  width: 100%;
  box-sizing: border-box;
}
.rmc-picker {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.rmc-picker-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-position: top, bottom;
  background-size: 100% 204px;
  background-repeat: no-repeat;
}
.rmc-picker-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.rmc-picker-indicator {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  position: absolute;
  left: 0;
  top: 102px;
  z-index: 3;
  border-top: 1PX solid #ddd;
  border-bottom: 1PX solid #ddd;
}
.rmc-date-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.rmc-date-picker-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.rmc-calendar {
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}
.rmc-calendar-hidden {
  display: none;
}
.rmc-calendar .animate {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.rmc-calendar .fade-enter {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.rmc-calendar .fade-leave {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
.rmc-calendar .slideV-enter {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}
.rmc-calendar .slideV-leave {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}
.rmc-calendar .slideH-enter {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}
.rmc-calendar .slideH-leave {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}
.rmc-calendar .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.rmc-calendar .content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}
.rmc-calendar .header {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rmc-calendar .header .title {
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.rmc-calendar .header .left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  height: 24px;
  left: 5px;
  top: 5px;
  color: #068EEF;
}
.rmc-calendar .header .right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  height: 24px;
  right: 5px;
  top: 5px;
  color: #068EEF;
  font-size: 14px;
}
.rmc-calendar .timePicker {
  border-top: 1px #ccc solid;
}
.rmc-calendar .week-panel {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 2px;
  border-bottom: 1px #ccc solid;
}
.rmc-calendar .week-panel .cell {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14.28571429%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rmc-calendar .week-panel .cell-grey {
  color: #999;
}
.rmc-calendar.data-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eee;
}
.rmc-calendar.data-picker .wrapper {
  height: auto;
  position: relative;
}
.rmc-calendar.data-picker .months {
  background: #fff;
}
.rmc-calendar.data-picker .load-tip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 0;
  right: 0;
  padding: 10px 0;
  top: -40px;
  color: #bbb;
}
.rmc-calendar .confirm-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  padding: 2px 10px;
  border-top: #E5E4E4 1px solid;
}
.rmc-calendar .confirm-panel .info {
  font-size: 12px;
}
.rmc-calendar .confirm-panel .info p {
  margin: 0;
}
.rmc-calendar .confirm-panel .info .grey {
  color: #999;
}
.rmc-calendar .confirm-panel .button {
  padding: 5px 20px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px 0 5px auto;
  color: #fff;
  font-size: 14px;
  background: #1A7BE6;
}
.rmc-calendar .confirm-panel .button-disable {
  color: #aaa;
  background: #d5d5d5;
}
.rmc-calendar .confirm-panel .button-full {
  margin: 5px;
  width: 100%;
  text-align: center;
}
.rmc-calendar .time-picker {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  background: #fff;
}
.rmc-calendar .time-picker .title {
  font-size: 13px;
  padding: 5px 0;
  border-top: #E5E4E4 1px solid;
  border-bottom: #E5E4E4 1px solid;
}
.rmc-calendar .single-month {
  padding: 10px 2px 0;
}
.rmc-calendar .single-month .month-title {
  margin-left: 15px;
}
.rmc-calendar .single-month .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
}
.rmc-calendar .single-month .row .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14.28571429%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rmc-calendar .single-month .row .cell .date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1px;
}
.rmc-calendar .single-month .row .cell .date-wrapper .disable {
  color: #aaa;
  background: #eee;
  border: none;
  border-radius: 100%;
}
.rmc-calendar .single-month .row .cell .date-wrapper .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.rmc-calendar .single-month .row .cell .date-wrapper .grey {
  color: #999;
}
.rmc-calendar .single-month .row .cell .date-wrapper .important {
  border: 1px #999 solid;
  border-radius: 100%;
}
.rmc-calendar .single-month .row .cell .date-wrapper .left,
.rmc-calendar .single-month .row .cell .date-wrapper .right {
  border: none;
  width: 100%;
  height: 100%;
}
.rmc-calendar .single-month .row .cell .date-wrapper .date-selected {
  border: none;
  background: #1a7be6;
  color: #fff;
}
.rmc-calendar .single-month .row .cell .date-wrapper .selected-start {
  border-radius: 100% 0 0 100%;
}
.rmc-calendar .single-month .row .cell .date-wrapper .selected-single {
  border-radius: 100%;
}
.rmc-calendar .single-month .row .cell .date-wrapper .selected-middle {
  border-radius: 0;
}
.rmc-calendar .single-month .row .cell .date-wrapper .selected-end {
  border-radius: 0 100% 100% 0;
}
.rmc-calendar .single-month .row .cell .info {
  height: 15px;
  width: 100%;
  padding: 0 5px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.rmc-calendar .single-month .row .cell .date-selected {
  color: #1a7be6;
}
.rmc-calendar .single-month .row + .row {
  margin-top: 6px;
}
.rmc-calendar .single-month .row-xl + .row-xl {
  margin-top: 21px;
}
.rmc-calendar .shortcut-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
  border-top: #E5E4E4 1px solid;
}
.rmc-calendar .shortcut-panel .item {
  display: inline-block;
  color: #068EEF;
  font-size: 14px;
}

/*# sourceMappingURL=basic.css.map*/